@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$table-cell-padding: 2em 2em;
$table-cell-border-width: 0;
$table-background-color: transparent;

$message-body-border: 0;

@import 'components/navigation';

@import '~bulma/bulma';
